@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Urbanist:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors: */
    --unnamed-color-705aaa: #705aaa;
    --unnamed-color-cbc8d4: #cbc8d4;
    --activestate_bg_2: #d8fcf7;
    --activestate_bg_1: #01f0d0;
    --unnamed-color-0bd984: #0bd984;
    --unnamed-color-072635: #072635;
    --unnamed-color-0c3d5d: #0c3d5d;
    --unnamed-color-084c77: #084c77;
    --unnamed-color-055a92: #055a92;
    --unnamed-color-006aac: #006aac;
    --unnamed-color-007bc7: #007bc7;
    --unnamed-color-707070: #707070;
    --unnamed-color-f6f6f6: #f6f6f6;
    --unnamed-color-ededed: #ededed;
    --unnamed-color-000000: #000000;
    --unnamed-color-878787: #878787;
    --unnamed-color-ffffff: #ffffff;
    --unnamed-color-ff6200: #ff6200;

    /* Font/text values */
    --unnamed-font-family-manrope: Manrope;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-800: 800px;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-weight-medium: medium;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-extrabold: extrabold;
    --unnamed-font-size-12: 12px;
    --unnamed-font-size-13: 13px;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-22: 22px;
    --unnamed-font-size-24: 24px;
    --unnamed-font-size-30: 30px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-17: 17px;
    --unnamed-line-spacing-18: 18px;
    --unnamed-line-spacing-19: 19px;
    --unnamed-line-spacing-22: 22px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-30: 30px;
    --unnamed-line-spacing-33: 33px;
    --unnamed-line-spacing-41: 41px;
    --unnamed-text-transform-titlecase: titlecase;
  }

  /* Character Styles */
  .card-title-24pt {
    font-family: var(--unnamed-font-family-manrope);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-800);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-33);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
  }
  .inner-card-title-18pt {
    font-family: var(--unnamed-font-family-manrope);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-transform: var(--unnamed-text-transform-titlecase);
  }
  .body-emphasized-14pt {
    font-family: var(--unnamed-font-family-manrope);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
  }
  .body-secondary-info-14pt {
    font-family: var(--unnamed-font-family-manrope);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-707070);
  }
  .body-regular-14 {
    font-family: var(--unnamed-font-family-manrope);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
  }

  .Manrope-regular-12 {
    font-family: var(--unnamed-font-family-manrope);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-17);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
  }

  .Manrope-regular-13 {
    font-family: var(--unnamed-font-family-manrope);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-13);
    line-height: var(--unnamed-line-spacing-18);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-transform: var(--unnamed-text-transform-titlecase);
  }

  .Manrope-regular-14 {
    font-family: var(--unnamed-font-family-manrope);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-transform: var(--unnamed-text-transform-titlecase);
  }

  .Manrope-medium-14 {
    font-family: var(--unnamed-font-family-manrope);
    text-transform: var(--unnamed-text-transform-titlecase);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
  }

  .Manrope-medium-16 {
    font-family: var(--unnamed-font-family-manrope);
    text-transform: var(--unnamed-text-transform-titlecase);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
  }

  .Manrope-bold-14 {
    font-family: var(--unnamed-font-family-manrope);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-transform: var(--unnamed-text-transform-titlecase);
  }

  .Manrope-bold-22 {
    font-family: var(--unnamed-font-family-manrope);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-22);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-transform: var(--unnamed-text-transform-titlecase);
  }

  .Manrope-extrabold-30 {
    font-family: var(--unnamed-font-family-manrope);
    font-weight: var(--unnamed-font-weight-extrabold);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-41);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
  }

  .grid-item {
    padding: 10px;
  }

  .aspect-box {
    aspect-ratio: 16 / 9; /* Adjust to your design's aspect ratio */
  }

  /* Custom scrollbar styling */
  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #e3e4e6;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: var(--unnamed-color-072635);
    border-radius: 3px;
    min-height: 100px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #0f4054;
    transform: scale(1.1);
  }

  html {
    font-size: calc(
      100vw / 1600 * 16
    ); /* Scale font size to match design width */
  }
}
